.choiceBanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: var(--gray-50);
  border: 1px solid #cecbcb;
  padding: 40px;
  box-shadow: 0px 1px 2px 0px #0000000f;
  box-shadow: 0px 1px 3px 0px #0000001a;
  border-radius: 8px;
  margin-bottom: 100px;
}
.choiceBannerContent {
  text-align: center;
}
.choiceBannerNum {
  font-size: clamp(30px, 3vw, 48px);
  font-weight: 700;
  background: linear-gradient(90deg, #9a0404, #fe0404);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.choiceBannerText {
  font-size: clamp(14px, 3vw, 16px);
  line-height: 24px;
  color: var(--gray-800);
}
@media (max-width: 768px) {
  .choiceBanner {
    flex-direction: column;
    gap: 15px;
  }
}
