@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
body {
  margin: 0;
  font-family: 'Inter', sans-serif;

  box-shadow: 1px -1px 204px -23px rgba(153, 153, 153, 1) inset;
  -webkit-box-shadow: 1px -1px 204px -23px rgba(153, 153, 153, 1) inset;
  -moz-box-shadow: 1px -1px 204px -23px rgba(153, 153, 153, 1) inset;
}
html {
  height: -webkit-fill-available;
}
.admin-layout {
  display: flex;
  width: 100%;
  max-width: 1600px;
  margin: 20px;
  margin: 0 auto;
  border-radius: 10px;
  height: -webkit-fill-available;
  background: linear-gradient(
    90deg,
    rgba(240, 248, 255, 1) 0%,
    rgba(230, 230, 250, 0.8) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.global-title {
  color: #780505;
}
.sidebar {
  min-width: 220px;
  background: linear-gradient(90deg, #9a0404 0%, #fe0404 100%);
  padding: 20px;
  border-radius: 10px 0 0 10px;
}

.sidebar h2 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #fff;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: #fff;
  font-size: 22px;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease;
  text-decoration: none;
  height: 100vh;
}

.sidebar a:hover {
  border-color: #4b4a4a;
}

.main-content {
  flex-grow: 1;
  padding: 30px;
  background: rgba(251, 250, 250, 0.15);
  border-radius: 0 10px 10px 0;
  overflow-y: auto;
  border: 1px solid rgba(151, 151, 151, 0.667);
  border-left: none;
}
.button {
  position: relative;
  overflow: hidden;
  padding: 12px 20px;
  border: 1px solid #fe0404;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #fff;
  background: linear-gradient(90deg, #9a0404 0%, #fe0404 100%);
  white-space: nowrap;
  box-shadow: 0px 1px 3px 0px #0000001a;
  cursor: pointer;
  transition: all 0.3s ease;
  width: max-content;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #9a0404, #fe0404);
  z-index: -1;
  transition: all 0.5s ease;
  opacity: 0;
}
.title {
  color: #ac0808;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input {
  padding: 10px 16px;
  border: 1px solid #e1e0e0;
  border-radius: 1px;
  font-size: 16px;
  color: var(--gray-200);
}
.articles-table {
  width: 100%;
  text-align: flex-start;
  margin-bottom: 40px;
}
.column {
  text-align: left;
  color: #780505;
  max-width: 200px;
}
.thead {
  margin-bottom: 20px;
}
.row {
  border: 1px solid #8a8383;
}
.pagination {
  display: flex;
  gap: 4px;
  text-align: center;
}
.pagination button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;
  width: 32px;
  height: 32px;
  color: #8a8383;
  border: 1px solid #8a8383;
  background: none;
}
.pagination button.active {
  background: #bb0c0c;
  color: #fff;
  border: none;
}
#articles-table-body tr {
  cursor: pointer;
  padding: 20px;
}
#articles-table-body td {
  cursor: pointer;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
}
.button-small {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}
@media (max-width: 768px) {
  body {
    padding: 0;
  }
  .admin-layout {
    display: flex;
    flex-direction: column-reverse;
    max-width: 100%;
    padding: 0;
    border-radius: 0;
  }
  .main-content {
    border-radius: 0;
    padding: 15px;
  }
  .sidebar {
    width: auto;
    height: auto;
    padding: 2px 15px;
    border-radius: 0;
  }
  .sidebar-menu {
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 20px;
    justify-content: space-between;
  }
  .sidebar li {
    margin-bottom: 0;
  }
  .button {
    width: 100%;
  }
  .sidebar a {
    font-size: 16px;
  }
  #articles-table-body td {
    max-width: 100px;
  }
  .date {
    display: none;
  }
}
